{% load compress jqm_utils %}
<!DOCTYPE html> 
<html> 
<head> 
	<title>My Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL}}wordtrainer/css/jquery.mobile-1.2.0-alpha.1.css" />
    {% endcompress %}
    {% compress js %}
	    <script src="{{ STATIC_URL}}wordtrainer/js/jquery-1.8.0.js"></script>
	    <script src="{{ STATIC_URL}}wordtrainer/js/jquery.mobile-1.2.0-alpha.1.js"></script>
        <script src="{{ STATIC_URL}}wordtrainer/js/json2.js"></script>
        <script src="{{ STATIC_URL}}wordtrainer/js/underscore.js"></script>
        <script src="{{ STATIC_URL}}wordtrainer/js/backbone.js"></script>
        <script type="text/coffeescript" src="{{ STATIC_URL }}wordtrainer/js/app.coffee"></script>
    {% endcompress %}
</head>
<body> 
    {% jqm_page "home.html" %}
</body>
</html>
